{% extends 'base.html' %}

{% block content %}
{% with growingcrop=growingcrop.0 %}
<div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                {{growingcrop.vegetable.icon|safe}}
            </div>
            <div class="uk-width-expand">
                <h3 class="title uk-card-title uk-margin-remove-bottom">{{ growingcrop.vegetable }}</h3>
                <p class="uk-text-meta uk-margin-remove-top">{{growingcrop.variety }}</p>
                {% if growingcrop.seeding_date %}播種日 {{growingcrop.seeding_date}} <br>{% endif %}
                {% if growingcrop.planting_date %}植付日 {{growingcrop.planting_date}} <br>{% endif %}
                {% if growingcrop.transplanting_date %}移植日 {{growingcrop.transplanting_date}} <br>{% endif %}
                {% if growingcrop.harvest_date_start %}収穫開始日 {{growingcrop.harvest_date_start}} <br>{% endif %}
                {% if growingcrop.harvest_date_end %}最終収穫日 {{growingcrop.harvest_date_end}} <br>{% endif %}
                <a href="{% url 'vegetablegarden:cropmanagement_create' growingcrop.pk %}" class="uk-button uk-button-text">お世話記録を追加</a>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
    </div>
    <div class="uk-card-footer">
    </div>
</div>
{% endwith %}

<br>

{% if count != 0 %}

    {% for cropmanagement in cropmanagement_list %}
    <article class="box">        
        <p class="has-text-grey">{{ cropmanagement.date }}</p>
        <p class="subtitle is-5">{{ cropmanagement.title }} </p>
        <p>{{ cropmanagement.text }}</p>
        
        {% if cropmanagement.image %}
        <p><img src=/media/{{ cropmanagement.image }} width="50%" height="50%"></p>
        {% endif %}

        <br>
        
        <a class="button is-small is-primary" href="{% url 'vegetablegarden:cropmanagement_update' cropmanagement.pk %}"><i class="fa-solid fa-square-pen"></i>編集</a>
        <a class="button is-small" href="{% url 'vegetablegarden:cropmanagement_delete' cropmanagement.pk %}"><i class="fa-solid fa-xmark"></i></a>

    </article>
    {% endfor %}



{% endif %}

{% endblock %}