{% extends 'base.html' %}
{% block title %}My Vegetable Garden{% endblock %}

{% block content %}

<div class="tile is-ancestor">
<div class="tile is-parent">
<article class="tile is-child notification is-primary">
    {% with growingcrop=growingcrop.0 %}

    <h5 class="title is-5">{{growingcrop.vegetable.icon|safe}}{{ growingcrop.vegetable }}</h5>
    <h5 class="subtitle is-6">{{growingcrop.variety }}</h5>
    <p class="subtitle is-7">
        {% if growingcrop.seeding_date %}播種日 {{growingcrop.seeding_date}} <br>{% endif %}
        {% if growingcrop.planting_date %}植付日 {{growingcrop.planting_date}} <br>{% endif %}
        {% if growingcrop.transplanting_date %}移植日 {{growingcrop.transplanting_date}} <br>{% endif %}
        {% if growingcrop.harvest_date_start %}収穫開始日 {{growingcrop.harvest_date_start}} <br>{% endif %}
        {% if growingcrop.harvest_date_end %}最終収穫日 {{growingcrop.harvest_date_end}} <br>{% endif %}
</p>
    <a class="button is-small" href="{% url 'vegetablegarden:cropmanagement_create' growingcrop.pk %}"><i class="fa-solid fa-square-plus"></i>お世話記録を追加</a>

    {% endwith %}

</article>
</div>
</div>

{% if count != 0 %}

    {% for cropmanagement in cropmanagement_list %}
    <article class="box">        
        <p class="has-text-grey">{{ cropmanagement.date }}</p>
        <p class="subtitle is-5">{{ cropmanagement.title }} </p>
        <p>{{ cropmanagement.text }}</p>
        
        {% if cropmanagement.image %}
        <p><img src=/media/{{ cropmanagement.image }} width="50%" height="50%"></p>
        {% endif %}

        <br>
        
        <a class="button is-small is-primary" href="{% url 'vegetablegarden:cropmanagement_update' cropmanagement.pk %}"><i class="fa-solid fa-square-pen"></i>編集</a>
        <a class="button is-small" href="{% url 'vegetablegarden:cropmanagement_delete' cropmanagement.pk %}"><i class="fa-solid fa-xmark"></i></a>

    </article>
    {% endfor %}



{% endif %}

{% endblock %}