{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}My Vegetable Garden{% endblock %}

{% block content %}

<article class="tile is-child notification is-primary">
    {% with growingcrop=growingcrop.0 %}
    <p class="title is-5">{{growingcrop.vegetable.icon|safe}}{{ growingcrop.vegetable }}</p>
    <p class="subtitle is-6">{{growingcrop.variety }}</p>
    <p class="subtitle is-7">
        播種日 {{growingcrop.seeding_date}} <br>
        植付日 {{growingcrop.planting_date}}
    </p>
    {% endwith %}
</article>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="field">
            <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div>
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <button class="button is-primary" type="submit">追加</button>
</form>

{% endblock %}