{% extends 'base.html' %}

{% block content %}
{% with growingcrop=growingcrop.0 %}
<div class="uk-card uk-card-default uk-width-1-1@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
                <h3 class="title uk-card-title uk-margin-remove-bottom">{{growingcrop.vegetable.icon|safe}}{{ growingcrop.vegetable }}</h3>
                <p class="uk-text-meta uk-margin-remove-top">{{growingcrop.variety|default:""}}</p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        {% if growingcrop.seeding_date %}播種日 {{growingcrop.seeding_date}} <br>{% endif %}
        {% if growingcrop.planting_date %}植付日 {{growingcrop.planting_date}} <br>{% endif %}
        {% if growingcrop.transplanting_date %}移植日 {{growingcrop.transplanting_date}} <br>{% endif %}
        {% if growingcrop.harvest_date_start %}収穫開始日 {{growingcrop.harvest_date_start}} <br>{% endif %}
        {% if growingcrop.harvest_date_end %}最終収穫日 {{growingcrop.harvest_date_end}} <br>{% endif %}
    </div>
    <div class="uk-card-footer">
        <a href="{% url 'vegetablegarden:cropmanagement_create' growingcrop.pk %}">
            <button class="uk-button uk-button-primary">
                <i uk-icon="file-edit"></i>お世話記録を追加する</button></a>

        </a>
    </div>
</div>
{% endwith %}
<br>
{% if count != 0 %}
<div class="uk-card uk-card-default uk-width-1-1@m">
<div class="uk-card-body">
{% for cropmanagement in cropmanagement_list %}
<article class="uk-article">

    <p class="uk-article-meta">{{ cropmanagement.date }}</p>
    <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ cropmanagement.title }}</a></h1>
    <p>{{ cropmanagement.text }}</p>
    <img src="{{ cropmanagement.image.url }}" alt=""/>
    <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
            <a class="uk-button uk-button-text" href="{% url 'vegetablegarden:cropmanagement_update' cropmanagement.pk %}"><i uk-icon="pencil"></i></i>編集</a>
        </div>
        <div>
            <a class="uk-button uk-button-text" href="{% url 'vegetablegarden:cropmanagement_delete' cropmanagement.pk %}"><i uk-icon="close"></i>削除</a>
        </div>
    </div>

</article>
{% if not forloop.last %}<hr class="uk-divider-small">{% endif %}
{% endfor %}
</div>
</div>
{% endif %}



{% endblock %}