{% extends 'base.html' %}
{% load tags %}

{% block content %}

<p class="uk-h4"><i uk-icon="file-edit"></i>&nbsp;最新のお世話記録</p>

<div class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-divider uk-table-responsive">
        <tbody>
            {% for cropmanagement in cropmanagements %}
            <tr>
                <td class="uk-table-link  uk-text-nowrap uk-text-meta">
                    <a class="uk-link-reset" href="{% url 'vegetablegarden:cropmanagement_list' cropmanagement.growing_crop.pk %}">
                        {{cropmanagement.date|date:"Y-m-d"}}
                    </a>
                </td>
                <td class="uk-table-link uk-text-nowrap">
                    <a class="uk-link-reset" href="{% url 'vegetablegarden:cropmanagement_list' cropmanagement.growing_crop.pk %}">
                    <span class="uk-badge">{{cropmanagement.growing_crop.area}}</span>
                    <span class="uk-text-bold">{{cropmanagement.growing_crop.vegetable}}</span><br>
                    <span class="uk-text-meta">{{cropmanagement.growing_crop.variety|truncatechars:20}}</span></a>
                </td>
                <td class="uk-table-link">
                    <a class="uk-link-reset">
                        <div class="uk-child-width-1-1@m uk-child-width-1-1@s" uk-grid>
                            <div>
                                <span class="uk-text-top">{{cropmanagement.text|truncatechars:70|linebreaksbr}}</span>
                                {% if  cropmanagement.image %}
                                <img src="{{ cropmanagement.image.url }}" width="200">
                                {% endif %}
                            </div>
                        </div>
                    </a>
                    
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>


{% if growingcrop_list.count > 0 %}
<hr class="uk-divider-icon">


<ul uk-tab>
    <li><a href="#"><i uk-icon="happy"></i>&nbsp;ただいま栽培中</a></li>
    <li><a href="#"><i uk-icon="album"></i>&nbsp;栽培終了</a></li>
</ul>


<ul class="uk-switcher uk-margin">
    <li>
        <div class="uk-card uk-card-default">
            <div class="uk-card-body">
                {% regroup growingcrop_list by area as area_list %}
                {% for area in area_list %}
                    {% for growingcrop in area.list %}
                        <p>
                            <span class="uk-badge">{{area.grouper}}</span>&nbsp;
                            <a class="uk-link-text" href="{% url 'vegetablegarden:cropmanagement_list' growingcrop.pk %}">
                            <span class="uk-text-bold">{{growingcrop.vegetable}}</span>&nbsp;
                            <span class="uk-text-small uk-text-light">{{growingcrop.variety|default:""}}</span>
                            </a>
                            <br>
                            <span class="uk-text-meta">
                            {% if growingcrop.seeding_date %}播種日 {{growingcrop.seeding_date|date:"Y-m-d"}}&nbsp;{% endif %}
                            {% if growingcrop.planting_date %}|&nbsp;植付日 {{growingcrop.planting_date|date:"Y-m-d"}}&nbsp;{% endif %}
                            {% if growingcrop.transplanting_date %}|&nbsp;移植日 {{growingcrop.transplanting_date|date:"Y-m-d"}}&nbsp;{% endif %}
                            {% if growingcrop.harvest_date_start %}|&nbsp;収穫開始日 {{growingcrop.harvest_date_start|date:"Y-m-d"}}&nbsp;{% endif %}
                            {% if growingcrop.harvest_date_end %}|&nbsp;収穫完了日 {{growingcrop.harvest_date_end|date:"Y-m-d"}}{% endif %}            
                            </span>
                        </p>
                    {% endfor %}
                    {% if not forloop.last %} <hr class="uk-divider-small"> {% endif %}
                {% endfor %}
            </div>
        </div>
    </li>
    <li>
        <div class="uk-card uk-card-default">
            <div class="uk-card-body">

        {% regroup harvestedcrops by area as area_list %}
        {% for area in area_list %}
            {% for harvestedcrop in area.list %}
            <p>
                <span class="uk-badge">{{area.grouper}}</span>&nbsp;
                <a class="uk-link-text" href="{% url 'vegetablegarden:cropmanagement_list' harvestedcrop.pk %}">
                <span class="uk-text-bold">{{harvestedcrop.vegetable}}</span>&nbsp;
                <span class="uk-text-small uk-text-light">{{harvestedcrop.variety|default:""}}</span>
                </a>
                <br>
                <span class="uk-text-meta">
                {% if harvestedcrop.seeding_date %}播種日 {{harvestedcrop.seeding_date|date:"Y-m-d"}}&nbsp;{% endif %}
                {% if harvestedcrop.planting_date %}|&nbsp;植付日 {{harvestedcrop.planting_date|date:"Y-m-d"}}&nbsp;{% endif %}
                {% if harvestedcrop.transplanting_date %}|&nbsp;移植日 {{harvestedcrop.transplanting_date|date:"Y-m-d"}}&nbsp;{% endif %}
                {% if harvestedcrop.harvest_date_start %}|&nbsp;収穫開始日 {{harvestedcrop.harvest_date_start|date:"Y-m-d"}}&nbsp;{% endif %}
                {% if harvestedcrop.harvest_date_end %}|&nbsp;収穫完了日 {{harvestedcrop.harvest_date_end|date:"Y-m-d"}}{% endif %}            
                </span>
            </p>
            {% endfor %}
            {% if not forloop.last %} <hr class="uk-divider-small"> {% endif %}
        {% endfor %}
        <div></div>
</li>
</ul>
{% endif %}
{% endblock %}