{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="field">
            <label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div>
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <button class="button is-primary" type="submit">追加</button>
</form>

{% endblock %}