{% extends 'base.html' %}
{% load tags %}

{% block content %}
<div>
{% regroup growingcrop_list by area as area_list %}
{% for area in area_list %}
<h6 class="title uk-card-title">{{ area.grouper }}</h6>

<div class="">
{% for growingcrop in area.list %}

{% if forloop.counter|modulo:4 == 1 %}<div class="tile is-ancestor">{% endif %}
    <div class="tile is-parent">

        <article class="tile is-child uk-card uk-card-default uk-card-body uk-width-1-2@m">

            <a class="title is-6" href="{% url 'vegetablegarden:cropmanagement_list' growingcrop.pk %}">
                {{growingcrop.vegetable.icon|safe}}{{growingcrop.vegetable}}
            </a>
            </p>
            <p class="subtitle is-7">{{growingcrop.variety}}</p>
            <p class="subtitle is-7">
                {% if growingcrop.seeding_date %}播種日 {{growingcrop.seeding_date}} <br>{% endif %}
                {% if growingcrop.planting_date %}植付日 {{growingcrop.planting_date}} <br>{% endif %}
                {% if growingcrop.transplanting_date %}移植日 {{growingcrop.transplanting_date}} <br>{% endif %}
                {% if growingcrop.harvest_date_start %}収穫開始日 {{growingcrop.harvest_date_start}} <br>{% endif %}
                {% if growingcrop.harvest_date_end %}最終収穫日 {{growingcrop.harvest_date_end}} <br>{% endif %}

            </p>

            <a href="{% url 'vegetablegarden:growingcrop_update' growingcrop.pk %}">
                <button class="button is-small">
                <i class="fa-solid fa-pen"></i></button></a>
            <a href="{% url 'vegetablegarden:growingcrop_delete' growingcrop.pk %}">
                <button class="button is-small">
                <i class="fa-solid fa-xmark"></i></button></a>

        </article>

    </div>
{% if forloop.counter|modulo:4 == 0 %}</div>
{% elif forloop.last %}</div>{% endif %}
{% endfor %}
</div>
{% endfor %}
</div>

{% if user.is_authenticated %}
{% else %}
<p>
    <a class="button is-primary" href="{% url 'login' %}">ログインへ</a>
</p>
{% endif %}


{% endblock %}