{% extends 'base.html' %}
{% load tags %}

{% block content %}

<p class="uk-text-large"><i uk-icon="file-edit"></i>最新のお世話記録</p>

<div class="uk-overflow-auto">
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider uk-table-responsive">
        <tbody>
            {% for cropmanagement in cropmanagements %}

            <tr>
                <td class="uk-text-nowrap uk-text-meta">{{cropmanagement.date|date:"Y-m-d"}}</td>
                <td class=" uk-table-link uk-text-nowrap uk-text-small">
                    <a class="uk-link-reset" href="{% url 'vegetablegarden:cropmanagement_list' cropmanagement.growing_crop.pk %}">
                    {{cropmanagement.growing_crop.vegetable}} - 
                    {{cropmanagement.growing_crop.area}}<br>
                    <span class="uk-text-meta">{{cropmanagement.growing_crop.variety|truncatechars:20}}</span></a>
                </td>
                <td class="uk-table-link uk-text-small">
                    <div class="uk-flex">
                        {% if  cropmanagement.image %}
                        <div>
                        <img class="uk-margin-small-left" src="{{ cropmanagement.image.url }}" width="200" alt=""/>
                        </div>
                        {% endif %}
    
                        <div class="uk-margin-small-left">
                        <a class="uk-link-reset" href="{% url 'vegetablegarden:cropmanagement_list' cropmanagement.growing_crop.pk %}">
                            {{cropmanagement.text|truncatechars:70|linebreaksbr}}</a>
                        </div>
                    </div>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>


{% if growingcrop_list.count > 0 %}
<hr class="uk-divider-icon">


<ul uk-tab>
    <li><a href="#"><i uk-icon="happy"></i>ただいま栽培中</a></li>
    <li><a href="#"><i uk-icon="album"></i> 栽培終了</a></li>
</ul>


<ul class="uk-switcher uk-margin">
    <li>
        <div class="uk-card uk-card-default">
            <div class="uk-card-body">
                {% regroup growingcrop_list by area as area_list %}
                {% for area in area_list %}
                    {% for growingcrop in area.list %}
                        <p>
                            <a class="uk-link-text" href="{% url 'vegetablegarden:cropmanagement_list' growingcrop.pk %}">
                            {{area.grouper}} - {{growingcrop.vegetable.icon|safe}}{{growingcrop.vegetable}}
                            {% if growingcrop.variety %} - {% endif %}
                            {{growingcrop.variety|default:""}}
                            </a>
                            <br>
                            <span class="uk-text-meta">
                            {% if growingcrop.seeding_date %}播種日 {{growingcrop.seeding_date|date:"Y-m-d"}}&nbsp;&nbsp;{% endif %}
                            {% if growingcrop.planting_date %}植付日 {{growingcrop.planting_date|date:"Y-m-d"}}&nbsp;&nbsp;{% endif %}
                            {% if growingcrop.transplanting_date %}移植日 {{growingcrop.transplanting_date|date:"Y-m-d"}}&nbsp;&nbsp;{% endif %}
                            {% if growingcrop.harvest_date_start %}収穫開始日 {{growingcrop.harvest_date_start|date:"Y-m-d"}}&nbsp;&nbsp;{% endif %}
                            {% if growingcrop.harvest_date_end %}収穫完了日 {{growingcrop.harvest_date_end|date:"Y-m-d"}}{% endif %}            
        
                        </span>
                        </p>
                    {% endfor %}
                    {% if not forloop.last %} <hr class="uk-divider-small"> {% endif %}
                {% endfor %}
            </div>
        </div>
    </li>
    <li>
        <div class="uk-card uk-card-default">
            <div class="uk-card-body">

        {% regroup harvestedcrops by area as area_list %}
        {% for area in area_list %}
            {% for harvestedcrop in area.list %}
                <p>
                    <a class="uk-link-text" href="{% url 'vegetablegarden:cropmanagement_list' harvestedcrop.pk %}">
                    {{area.grouper}} - {{harvestedcrop.vegetable.icon|safe}}{{harvestedcrop.vegetable}}
                    {% if harvestedcrop.variety %} - {% endif %}
                    {{harvestedcrop.variety|default:""}}
                    </a>
                    <br>
                    <span class="uk-text-meta">
                    {% if harvestedcrop.seeding_date %}播種日 {{harvestedcrop.seeding_date|date:"Y-m-d"}}&nbsp;&nbsp;{% endif %}
                    {% if harvestedcrop.planting_date %}植付日 {{harvestedcrop.planting_date|date:"Y-m-d"}}&nbsp;&nbsp;{% endif %}
                    {% if harvestedcrop.transplanting_date %}移植日 {{harvestedcrop.transplanting_date|date:"Y-m-d"}}&nbsp;&nbsp;{% endif %}
                    {% if harvestedcrop.harvest_date_start %}収穫開始日 {{harvestedcrop.harvest_date_start|date:"Y-m-d"}}&nbsp;&nbsp;{% endif %}
                    {% if harvestedcrop.harvest_date_end %}収穫完了日 {{harvestedcrop.harvest_date_end|date:"Y-m-d"}}{% endif %}            

                </span>
                </p>
            {% endfor %}
            {% if not forloop.last %} <hr class="uk-divider-small"> {% endif %}
        {% endfor %}
        <div></div>
</li>
</ul>
{% endif %}
{% endblock %}