{% extends 'base.html' %}

{% block content %}

<form action="" method="POST" class="uk-form-stacked">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div class="uk-margin">
        <label class="uk-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        <div class="uk-form-controls">
        {{ field }}
        </div>
        {% if field.help_text %}
            <span class="helptext">{{ field.help_text }}</span>
        {% endif %}
    </div>
    {% endfor %}
    <button class="uk-button uk-button-primary" type="submit">追加</button>
</form>

{% endblock %}