{% load static %}

<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/basic_latin/mplus_webfonts.css">
    <link rel="stylesheet" type="text/css" href="http://mplus-fonts.sourceforge.jp/webfonts/general-j/mplus_webfonts.css">  
    <!-- fontawsome -->
    <script src="https://kit.fontawesome.com/4afe06bffb.js" crossorigin="anonymous"></script>
    <!-- end fontawsome -->

    <!-- for admin widgets -->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ form.media }}
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <!-- end for admin widgets -->
 
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet" href="https://use.typekit.net/yhr3mre.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 

    <title>栽培かんり{% if request.path != '/' %} - {{title}}{% endif %}</title>

</head>

<body>
  <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">

    <nav class="uk-navbar-container" uk-navbar>

      <div class="uk-navbar-item uk-logo">
        <a href="{% url 'vegetablegarden:growingcrop_list' %}">
          <img src="{% static 'vegetablegarden/img/logo.png' %}" width="160" height="40"></a>  
        </div>

      {% if user.is_authenticated %}
      
      <div class="uk-navbar-right uk-visible@s">
        <span class="uk-label">{{ user }}</span>
      </div>

      <div class="uk-navbar-item uk-visible@s">
          <ul class="uk-navbar-nav">
              <li>
                <a class="navbar-item" href="https://www.figma.com/file/0lfo4mNdqcUjscPOfKCwZo/2022%E6%98%A5%E5%A4%8F?node-id=0%3A1">配置図</a>
              </li>
              <li>
                  <a href="#">管理</a>
                  <div class="uk-navbar-dropdown">
                      <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li><a class="" href="{% url 'vegetablegarden:growingcrop_create' %}">栽培情報を追加</a></li>
                          <li><a class="" href="{% url 'vegetablegarden:vegetable_create' %}">野菜を追加</a></li>
                      </ul>
                  </div>
              </li>
          </ul>
      </div>

      <div class="uk-navbar-item uk-visible@s">
        <a class="uk-button uk-button-default" href="{% url 'logout' %}">Logout<i uk-icon="sign-out"></i></a>
      </div>

      <div class="uk-navbar-right uk-hidden@s">
        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-nav"></a>
      </div>
      {% endif %}
    </nav>
  </div>

  <div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">
      <button class="uk-offcanvas-close" type="button" uk-close></button>
      {% if user.is_authenticated %}

      <ul class="uk-nav uk-nav-default">
        <li><span class="uk-label">{{ user }}</span></li>
        <li>
            <a class="navbar-item uk-nav-header" href="https://www.figma.com/file/0lfo4mNdqcUjscPOfKCwZo/2022%E6%98%A5%E5%A4%8F?node-id=0%3A1">配置図</a>
        </li>
        <li class="uk-nav-divider"></li>
        <li class="uk-parent uk-nav-header">
                管理
                <ul class="uk-nav-sub">
                  <li><a class="" href="{% url 'vegetablegarden:growingcrop_create' %}">栽培情報を追加</a></li>
                  <li><a class="" href="{% url 'vegetablegarden:vegetable_create' %}">野菜を追加</a></li>
                </ul>
        </li>
        <li class="uk-nav-divider"></li>
          
        </ul>
        <div class="">
          <a class="uk-button uk-button-default" href="{% url 'logout' %}">Logout<i uk-icon="sign-out"></i></a>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="uk-section">
    <div class="uk-container">
      {% if request.path != '/' %}
      <p class="uk-h4"><i uk-icon="happy"></i>&nbsp;{{title}}</p>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
  </div>

  <footer class="footer">
      <div class="content has-text-centered">
        <p>
        </p>
      </div>
    </footer>

</body>

</html>
