{% load static %}

<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    
    <script src="https://kit.fontawesome.com/4afe06bffb.js" crossorigin="anonymous"></script>

    <title>{% if request.path != '/' %}{% block title %}{% endblock %} | {% endif %}</title>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

            });
        });
        }

        });
    </script>

    <!-- for admin widgets -->
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
 
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ form.media }}
    <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <!-- end for admin widgets -->
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'vegetablegarden:growingcrop_list' %}">
            <img src="{% static 'vegetablegarden/img/logo.png' %}" width="112" height="28">
          </a>

          
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{% url 'vegetablegarden:growingcrop_list' %}">
              Home
            </a>
            <a class="navbar-item" href="https://www.figma.com/file/0lfo4mNdqcUjscPOfKCwZo/2022%E6%98%A5%E5%A4%8F?node-id=0%3A1">
              配置図
            </a>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
                {% if user.is_authenticated %}
                <span class="navbar-item">{{ user }}</span>

                  <div class="navbar-start">
              
                    <div class="navbar-item has-dropdown is-hoverable">
                      <a class="navbar-link">
                        More
                      </a>
              
                      <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'vegetablegarden:growingcrop_create' %}">
                          栽培情報を追加
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'vegetablegarden:vegetable_create' %}">
                          野菜を追加
                        </a>
                      </div>
                    </div>
                  </div>

                <a class="button is-primary" href="{% url 'logout' %}">
                <span>Logout</span>
                <span class="icon">
                <i class="fas fa-arrow-right"></i>
                </span>
                </a>
                {% else %}
                <a class="button is-primary" href="{% url 'login' %}">
                <span class="icon">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span><strong>Login</strong></span>
                </a>
                {% endif %}
          </div>
        </div>
      </nav>

      <section class="hero">
        <div class="hero-body has-background-white-ter">
          <p class="title is-4">
            {{title}}
          </p>
          <p class="subtitle is-5">
            {{subtitle}}
          </p>
        </div>
      </section>

    <div class="section">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </footer>

</body>

</html>
